body {
  margin: 0;
  font-family: "Noto Sans Tamil", sans-serif;
  background: #343541;
}

.app {
  display: flex;
  height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
